.navbar {
    background: linear-gradient(90deg, rgb(249, 250, 249) 0%, rgb(245, 248, 246)100%);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    flex-direction: column;

  }
  
  .navbar-container-logo {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    height: 120px;
    width: 1500px;
    
  }
  .navbar-container-menu {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    margin-top: 10px;
    background:  rgb(80, 161, 116);
    justify-content: flex-start;
  }
  
  .navbar-logo {
    color: rgb(80, 161, 116);
    justify-self: start;
    margin-left: 30px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }
  .navbar-geo {
    color: rgb(80, 161, 116);
    justify-self: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-left: 20px;
    flex-direction: column;
  }

  .navbar-geo-icon {
    color: rgb(80, 161, 116);
    margin-left: 3%;
  }

  .navbar-geo-text-city {
    color: rgb(80, 161, 116);
    justify-self: center;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 5px;
  }

  .navbar-geo-text-street {
    color: rgb(80, 161, 116);
    justify-self: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-left: 5px;
    margin-top: -15px;
  }

  .navbar-contact {
    color: rgb(80, 161, 116);
    justify-self: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-left: 500px;
  }
  
  .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-gap: 5px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: flex-start;
    margin-right: 2rem;
    background:  rgb(80, 161, 116);
    margin-left: 150px;
  }
  
  .nav-item {
    height: 60px;
    background:  rgb(80, 161, 116);
  }

  .btn-mobile {
    opacity: 0;
    display: none;
}
  
  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  
  .nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
    color: red;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 190vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 0;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background:  rgb(80, 161, 116);
      left: -35%;
      opacity: .9;
      transition: all 0.5s ease;
      z-index: 1;
      
    }
  
    .nav-links {
      text-align: start;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      background-color: #fff;
      color: #242424;
      border-radius: 0;
    }
  
    .navbar-logo {
      position: absolute;
      top: -10%;
      left: 7%;
      transform: translate(25%, 50%);
    }

    .navbar-geo-text-street {
        display: block;
    }

    .navbar-geo-text-city{
        position: absolute;
        top: 10%;
        left: 55%;
        transform: translate(25%, 50%);
    }

    .navbar-contact {
        position: absolute;
        top: 0;
        right: 15%;
        transform: translate(25%, 50%);
    }

    .navbar-container-menu {
        background: #fff;
    }

    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 80%;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color:  rgb(80, 161, 116);
    }
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      margin: 2rem auto; 
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: #fff;
      padding: 14px 20px;
      border: 1px solid #fff;
      transition: all 0.3s ease-out;
    }

    .btn-mobile.active {
      display: block;
      text-align: center;
      margin-left: 10px; 
      margin-top: 20px;
      color:rgb(80, 161, 116);
      border-radius: 40px;
      padding: 8px 40px;
      font-size: 18px;
      width: 20rem;
      opacity: 1;
    }
  
    .nav-links-mobile:hover {
      background: #fff;
      color: #242424;
      transition: 250ms;

    }
  }
  .nine {
    transform-origin: left 50%;
    color:rgb(248, 7, 7);
    width: 50px;
    transform: translateX(10px) rotate(10deg) translateY(5px) 
    
  
  } 