.footer-container {
    max-width: 1560px;
    margin-top: 10%;
    background:  rgb(80, 161, 116);
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 10%;
  }

  .footer-logo {
    text-decoration: none;
    color: aliceblue;
    font-size: 2rem;
    font-weight: 700;
    margin-left: 10%;
    margin-right: 10%;
  }

  .footer-menu {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.1rem;
    font-weight: 400;
    margin-left: 2%;
  }

  .inst {
    justify-content: center;
    align-items: center;
    width: 2.5%;
    color: white;
    font-size: 1.5rem;
    margin-left: 25%;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    border-radius: 25%;
  }
  
  .what {
    width: 2.5%;
    color: white;
    font-size: 1.5rem;
    margin-left: 1%;
    background: rgb(12, 235, 12);
    border-radius: 25%;
  }

  .tell {
    width: 2.5%;
    color: white;
    font-size: 1.5rem;
    margin-left: 1%;
    background: hwb(186 2% 3%);
    border-radius: 50%;
  }

  @media screen and (max-width: 960px){
    .footer-container {
      display: none;
    }
  }